apiVersion: v1
kind: ConfigMap
metadata:
  name: fluentbit-config
data:
  fluent-bit.conf: |
    [SERVICE]
        Flush         5
        Log_Level     info

    [INPUT]
        Name              tail
        Path              /var/log/containers/*flask-app*.log
        Parser            docker
        Tag               app.log
        Refresh_Interval  5

    [OUTPUT]
        Name  tcp
        Match *
        Host  logstash-service
        Port  5044
        Format json_lines